<%= javascript_include_tag 'amcharts' %>
<script type="text/javascript">
var chart;
var chartData = <%= @json_val %>;
var names = <%= @json_arr.to_json.html_safe %>
var graph;
function create_graph(title, valueField) {
graph = new AmCharts.AmGraph();
graph.showHandOnHover = true;
graph.title = title;
graph.type = "line";
graph.lineThickness = 1;
graph.bullet = "round";
graph.valueField = valueField;
graph.balloonText = "[[date]] \n [[value]]℃";
chart.addGraph(graph);}

AmCharts.ready(function() {
// SERIAL CHART
chart = new AmCharts.AmSerialChart();
chart.pathToImages = "/assets/";
chart.categoryField = "date";
chart.dataProvider = chartData;
var valueAxis = new AmCharts.ValueAxis();
valueAxis.title = "温度 ℃";
chart.addValueAxis(valueAxis);
// AXES
chart.categoryAxis.parseDates = true;
chart.categoryAxis.minPeriod = "mm";
chart.addChartScrollbar(new AmCharts.ChartScrollbar());
// GRAPH
$.each(names, function(i, name) {create_graph(name[0], name[1],chart,i); i += 1;});
// LEGEND
var legend = new AmCharts.AmLegend();
legend.align = "right";
legend.labelText = "[[title]]";
chart.addLegend(legend);
chart.write("chartdiv");

});

function setLabel(){
    if (document.getElementById("label_hide").checked){
        $.each(chart.graphs,function(i,graph){
    		graph.labelText = "";
    	});     
    } else if (document.getElementById("label_show").checked){
    	$.each(chart.graphs,function(i,graph){
    		graph.labelText = "[[value]]";
    	});       
    }
    chart.validateNow();
 }


</script>
<div id="chartdiv" class="chartdiv" style=" height:450px;"></div>
<input type="radio" checked="true" name="showLable" id="label_hide" onclick="setLabel()">ラベルを隠し
<input type="radio" name="showLable" id="label_show" onclick="setLabel()">ラベルを表示
