<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <h2><%= link_to " AmCharts Sample 07/18", "#" %></h2>
      <nav>
      	<ul class="nav pull-left">
          <li><a href="http://localhost:3000/"><i class="icon-home icon-white"></i> Home</a></li>
          <li><a href="http://localhost:3000/"><i class="icon-signal icon-white"></i> サンプル</a></li>
          <li><%= link_to "Help", 'http://www.amcharts.com/' %></li>
        </ul>  	
      </nav>
    </div>
  </div>
</header>